<!-- Footer -->
<!doctype html>
<html>
<body class="footer">
    <div class="container-fluid">
        <br><br><br><br><br><br>
        <table border="0" style="font-size: 12px;">
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>Date: {issueDate}</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>Name - {name}</b></td>
                </tr>
            </tbody>
        </table>
        <h3 style="text-align: center; border-bottom: 2px solid #000; font-size: 14px;"><b>JOB OFFER LETTER</b></h3>
        <h4  style="font-size: 12px; line-height: 30px;"><b>Dear {name},</b><br></h4>
        <div class="row" style="font-size: 11px; text-align: justify;">
            <p>
                Welcome to <b>{companyName}</b> Following our recent discussions, we are delighted to offer you the position of <b>{designation}</b> with {companyName}.
                You will become part of a fast-paced and dedicated team that works together to provide our clients with the highest possible level of service and
                advice.
            </p>
            <p>
                We are confident you will find this new opportunity both challenging and rewarding. The following points outline the terms and conditions we are proposing.
            </p>
            <ol>
                <li>1. The Position offered to you is <b>{designation}</b>.</li>
                <li>2. The Date of Joining will be <b>{joningDate}</b> and you will be entitled to all the below mentioned rules and regulation of the company from the date of your joining.</li>
                <li>3. You will be reporting to <b>{reportingTo}</b> of the company, which is entitled to change at sole discretion of the company.</li>
                <li>
                    4. Your Annual Total Employment Cost to the company would be <b>Rs. {empSalary} </b> the details of which is being given in the Annexure attached at the end.
                    You will be also entitled to all allowances and benefits whatsoever decided by the company.
                </li>
                <li>5. You will be posted in our office locate at <b>F-7, H-1, Sector 63 Noida</b>. However, at any time during the period of appointment, you will be liable to transfer in such other capacity that the company may determine to any.</li>
                <li>6. Other Department/ Branch/ Establishment or any other Company under the same management without adversely affecting your emoluments and general condition of service.</li>
                <li>
                    7. You have to follow <b>Six days working</b> culture (from Monday to Saturday) with office timings <b>9:30 AM</b> to <b>6:30 PM</b>, subject to change with management discretion.
                    If you are on assignment with a client or a training course or other company authorized function, the company may request you to observe the normal working
                    hours of the client, course or location.
                </li>
                <li>
                    8. You will be on <b>probation for a period of six months</b> from the date of joining service. Based on your performance and conduct, this period may
                    be increased or decreased at sole discretion of the management and unless an order in writing is given to you, you shall not be deemed to have been confirmed.
                </li>
                <li>9. You will be not allowed for any paid leave during the probation period of Six months. After the completion of probation period, you will be allowed one paid casual leave per month. Apart from this as per company calendar you will be benefited with 10 holidays round the year including important National Holidays.</li>
                <li>10. You have to work on tasks assigned to you by the management. Management has full rights to decide the nature of work what suits best to your profile.</li>


            </ol>
            <br>
            <p>We look forward to the opportunity to work with you in an atmosphere that is successful and mutually challenging and rewarding.</p><br><br>
            <p>Sincerely,</p>
            <p style="font-size: 12px;"><b>For {companyName}</b></p><br><br>
            <p  style="font-size: 12px;"><b>HR</b></p>
        </div>
    </div>
</body>
</html>
<!-- End Footer -->